.header {
  height: 60px;
  background-color: #06283d;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.info {
  display: flex;
  align-items: center;
  margin-right: 30px;
  gap: 15px;
}

.info .item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
